/.idea/
/clean-code-refactor/demo-test/.mvn/wrapper/
/clean-code-refactor/jasper-reports-maven/.mvn/wrapper/
/simple_stack_calc/.idea/
/simple_stack_calc/out/production/simple/com/company/
/spring-module/.idea/
/spring-module/spring-crud/.idea/
/hibernate-xmlconfig/.idea/
/hibernate-xmlconfig/.settings/
/hibernate-xmlconfig/target/
/spring-batch/.idea/
/spring-batch/.settings/
/spring-batch/target/
/spring-batch/src/main/resources/customer-filtered.csv
/spring-batch/src/main/customers.csv
/spring-mvc/target/
/spring-mvc/.idea/
/spring/.idea/
/spring/target/
/spring-mvc/.settings/
/vaadin-demo/node_modules/
/vaadin-demo/.idea/
/hibernate-xmlconfig/hibernate-xmlconfig.iml
/spring-batch/.idea/
