/.idea/
/clean-code-refactor/demo-test/.mvn/wrapper/
/clean-code-refactor/jasper-reports-maven/.mvn/wrapper/
/simple_stack_calc/.idea/
/simple_stack_calc/out/production/simple/com/company/
/spring-module/.idea/
/spring-module/spring-crud/.idea/
